@font-face {
    src: url(/fonts/53faa9276001397f57e3dec8cafa2205.eot); /* IE9 */
    src: url(/fonts/53faa9276001397f57e3dec8cafa2205.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */ url(/fonts/53faa9276001397f57e3dec8cafa2205.woff) format("woff"), /* chrome, firefox */ url(/fonts/53faa9276001397f57e3dec8cafa2205.ttf) format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url(/fonts/53faa9276001397f57e3dec8cafa2205.svg#PingFangHK-Semibold-Proportional) format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 992px) {
    /*@media screen and (min-width: 577px) {*/
    .login-form {
        position: absolute;
        right: 290px;
        background: #ffffff;
        border-radius: 5px;
        width: 360px;
        height: 400px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .login-index-log {
        position: absolute;
        padding-top: 30px;
        width: auto;
        height: inherit;
        right: 690px;
    }

    .login-form .login-sub-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 28px;
        color: #323a45;
        text-align: center;
    }

    .login-form .login-context .form-group > label {
        font-size: 13px;
        color: #323a45 !important;
    }

    .login-form .login-context .form-group .link > a {
        font-size: 13px;
    }
}

/*@media screen and (min-width: 577px) and (max-width: 767px) {*/
/*.login-form {*/
/*right: 30px;*/
/*}*/

/*.login-index-log {*/
/*right: 420px;*/
/*width: 356px;*/
/*height: auto;*/
/*padding-top: 0px;*/
/*}*/

/*}*/

/*@media screen and (min-width: 768px) and (max-width: 992px) {*/
/*.login-form {*/
/*right: 20px;*/
/*}*/

/*.login-index-log {*/
/*right: 410px;*/
/*width: 408px;*/
/*height: auto;*/
/*padding-top: 0px;*/
/*top: 30px;*/
/*}*/

/*}*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .login-form {
        right: 88px;
    }

    .login-index-log {
        right: 478px;
        width: 551px;
        height: auto;
        padding-top: 0px;
        top: 30px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1260px) {
    .login-form {
        right: 138px;
    }

    .login-index-log {
        right: 528px;
        width: 607px;
        height: auto;
        padding-top: 0px;
    }

}

@media screen and (min-width: 1261px) and (max-width: 1452px) {
    .login-form {
        right: 168px;
    }

    .login-index-log {
        right: 558px;
        width: 607px;
        height: auto;
        padding-top: 0px;
    }

}

@media screen and (min-width: 0) and (max-width: 991px) {

    .login-form {
        position: absolute;
        top: 142px;
        padding-right: 24px;
        width: 100%;
        font-size: 13px;
    }

    .login-context {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
    }

    .login-sub-title {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 38px;
        color: #ffffff;
    }

}

@media screen and (min-width: 0) and (max-width: 576px) {
    .kcoin-button-normal {
        font-size: 13px !important;
        width: 100% !important;
        max-width: 340px;
    }

    div#project-detail-menu {
        height: 172px !important;
    }

    #project-detail-menu .container .project-name {
        height: 124px !important;
    }

    #project-detail-menu .container .row.tab-menu {
        height: auto !important;
        padding-left: 0px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .kcoin-win {
        position: fixed !important;
        max-height: 100vh !important;
        z-index: 9999 !important;
        top: 0px !important;
        left: 0px !important;
    }

    .project-detail-container {
        padding-top: 212px !important;
    }

    .user-kcoin-detail-number {
        font-family: MicrosoftYaHei;
        font-size: 30px;
        color: #ff5a59;
        order: 2 !important;
    }

    .user-kcoin-detail-title {
        font-size: 30px;
        color: #8b939e;
        order: 1 !important;
    }

    .user-kcoin-detail {
        background: #fdfeff;
        border: 1px solid #e2e9f5;
        box-shadow: 0 0 6px 1px #edf0f5;
        border-radius: 5px;
    }

    .user-profile-float {
        border: none !important;
        box-shadow: none !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .user-kcoin-detail-left-area {
        width: 100%;
    }
}

.container {
    width: auto;
    max-width: 1030px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* min-height: calc(100vh - 93px); */
}

.login-sub-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
}

.login-title {
    position: absolute;
    top: 46px;
    left: 0px;
    right: 0px;
}

.login-context {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.required {
    border: 1px #1ba1e2 solid !important;
}

body {
    font-family:
            PingFangHK-Semibold,
            -apple-system,
            system-ui,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Ubuntu,
            "Helvetica Neue",
            sans-serif;
    font-size: 1em;
    /* color: #ffffff; */
}

html, body {
    margin: 0;
    height: 100%;
}

/* Kcoin title style */
.kcoin-title {
    color: #00a3d9;
}

/* container style */
.kcoin-background {
    background-color: #333333;
    height: 100%;
}

/* kcoin title style */
.text-center.login-title > a {
    color: inherit;
    text-decoration: none;
}

/* kcoin input style */
input {
    height: 40px !important;
}

/* form style */
.join-form {
    position: absolute;
    top: 142px;
    padding-right: 24px;
    width: 100%;
    font-size: 0.8125em;
}

.kcoin-button-flex {
    display: block;
    width: 100% !important;
}

.kcoin-button-normal {
    font-size: 13px !important;
}

/* login-btn style */
.button.info {
    background: #60A8F0;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    width: 150px;
}

/* link-btn style */
.link {
    float: right;
    padding: 0px;
}

.button {
    height: 40px;
}

.link > a {
    color: #5fbbd9;
}

/* github btn style */
.button.dark {
    background: #666666;
    border-radius: 5px;
}

/* githbu icon style */
.github-icon {
    width: 25px !important;
    height: 25px !important;
    margin-right: 21px;
    margin-top: 6px;
}

/* input style */
input {
    background: #ffffff;
    border: 1px solid #979797 !important;
    border-radius: 5px;
}

input.focused, input:focus, input:focus {
    /*      border: 1px solid #00a3d9 !important; 
     box-shadow: 0 0 0 0 rgba(0, 0, 0, .10) !important;  */
}

.border-radius-5.border {
    height: 42px;
}

/* span style */
span {
    color: #939393;
}

/* app bar background  */
.app-bar-wrapper, .app-bar {
    background-color: #333333;
    color: #9c9c9c;
}

/* figure style */
.kcoin-figure {
    width: 100%;
    height: 100%;
}

.kcoin-figure:hover {
    cursor: pointer;
}

.kcoin-figure:hover:before {
    content: "";
}

.kcoin-figure:before {
    background: none;
    border: 3px solid #00a3d9;
    position: absolute;
    top: -12px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.kcoin-figure-token-div {
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 11px;
    color: #ffffff;
    bottom: 21px;
    background: #89919c;
    border-radius: 0px 25px 25px 0px;
}

.kcoin-figure-token-span {
    color: #ffffff;
    width: 75px;
}

.kcoin-figure-title-letter-div {
    display: inline-block;
    /* width: 72px; */
    /* height: 140px; */
    font-size: 11px;
    color: #ffffff;
    right: 20px;
    top: 0px;
}

.kcoin-figure-title-letter-span {
    font-size: 100px;
    color: #89919c;
}

.kcoin-win-title {
    background: #333333;
    height: 40px;
}

.kcoin-stepper {
    width: 234px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step.kcoin-step:first-child:after {
    content: "选择项目";
    font-size: 13px;
    color: #FFD7D8;
    width: 53px;
    display: block;
    top: 18px;
    position: absolute;
    left: -17px;
}

.step.kcoin-step.current.kcoin-stepper-complete:first-child:after {
    color: #FF5C5D;
}

.step.kcoin-step.current.kcoin-stepper-complete:nth-child(2):after {
    color: #FF5C5D;
}

.step.kcoin-step.current.kcoin-stepper-complete:last-child:after {
    color: #FF5C5D;
}

.step.kcoin-step.complete.kcoin-stepper-complete:first-child:after {
    color: #FF5C5D;
    top: 22px;
    left: -15px;
}

.step.kcoin-step.complete.kcoin-stepper-complete:nth-child(2):after {
    color: #FF5C5D;
    top: 22px;
    left: -15px;
}

.step.kcoin-step.complete.kcoin-stepper-complete:last-child:after {
    color: #FF5C5D;
    top: 22px;
    left: -15px;
}

.step.kcoin-step:nth-child(2):after {
    content: "基本信息";
    font-size: 13px;
    color: #FFD7D8;
    width: 53px;
    display: block;
    top: 18px;
    position: absolute;
    left: -17px;
}

.step.kcoin-step:last-child:after {
    content: "初始分配";
    font-size: 13px;
    color: #FFD7D8;
    width: 53px;
    display: block;
    top: 18px;
    position: absolute;
    left: -17px;
}

.kcoin-step span {
    display: none !important;
}

.step.kcoin-step.current.kcoin-stepper-complete {
    width: 24px;
    height: 24px;
    background: #FF5C5D !important;
    border: 4px solid #FF5C5D !important;
}

.kcoin-step {
    border: 4px solid #FFD7D8;
    background-color: white;
}

.kcoin-li {
    background: #edf0f5;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-family: PingFangHK-Regular;
    font-size: 16px;
    color: #404b59;
    padding-left: 10px;
}

.kcoin-img-org {
    width: 40px;
    height: 40px;
}

.kcoin-checkbox span.check {
    /* display: none; */
}

.kcoin-win-panel {
    width: 100% !important;
    height: 100% !important;
    max-height: 466px;
}

.kcoin-win-member-panel {
    width: 100% !important;
    height: 100% !important;
    max-height: 466px;
}

.kcoin-win {
    width: 100% !important;
    height: 100% !important;
    max-height: 604px;
    min-height: 604px;
    max-width: 750px;
    background: #ffffff;
    border: 1px solid #cfd2d6;
    box-shadow: 0 0 4px 0 #9c9c9c;
    display: none;
}

#import_form .page {
    padding: 10px 0px;
}

.import_title {
    width: 100%;
    height: 60px;
    background: #edf0f5;
}

.kcoin-figure .img-container {
    width: 220px;
    height: 220px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3;
}

.kcoin-figure .painting-name {
    width: 100%;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.kcoin-avater {
    background: #d8d8d8;
    border: 1px solid #979797;
    width: 39px;
    height: 39px;
    border-radius: 100%;
}

.button.info.outline {
    background: #ffffff !important;
    color: #00a3d9 !important;
}

.kcoin-li:hover {
    background: rgba(0, 0, 0, 0.10);
    border: 1px solid #cfd2d6;
    cursor: pointer;
}

div#project-detail-menu {
    background: #edf0f5;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0px;
    z-index: 1;
}

#project-detail-menu .container .porject-name {
    height: 50%;
}

#project-detail-menu .row > figure {
    position: absolute;
    top: 20px;
    width: 100px;
    background-color: #edf0f5;
    height: 100px;
    border: 1px solid #cfd2d6;
}

#project-detail-menu .row > span {
    margin-left: 130px;
    top: 20px;
    position: absolute;
    font-size: 18px;
    color: #323a45;
}

#project-detail-menu .kcoin-figure-title-letter-span {
    font-size: 20px;
}

#project-detail-menu .kcoin-figure-title-letter-div {
    width: auto;
    height: auto;
    right: 5px;
    top: 5px;
}

#project-detail-menu .container .row.tab-menu {
    padding-left: 146px;
}

#project-detail-menu .tabs {
    background-color: #edf0f5;
}

#project-detail-menu .tabs > ul {
    border-bottom: 0px;
}

#project-detail-menu .tabs > ul > li {
    border-bottom: 0px;
    background-color: #edf0f5;
    margin-right: 10px;
    margin-left: 10px;
    color: #89919c;
}

#project-detail-menu .tabs > ul > li.active {
    border: 0px;
    font-size: 16px;
    color: #60a8f0;
    border-bottom: 8px solid #60a8f0;
    background-color: #edf0f5;
}

#project-detail-menu .tabs > ul > li > a {
    padding-left: 0px;
    padding-right: 0px;
}

.project-detail .card-header {
    max-width: 498px;
    max-height: 82px;
    width: 100%;
    height: 100%;
    min-width: 342px;
    min-height: 82px;
    background: #edf0f5;
}

.project-detail .card-content {
    max-width: 498px;
    max-height: 227px;
    width: 100%;
    height: 100%;
    min-width: 324px;
    min-height: 227px;
}

.project-detail .card {
    background: #fdfeff;
    border: 1px solid #cfd2d6;
    border-radius: 5px;
    max-width: 498px;
    min-width: 344px;
    box-shadow: 0 0 6px 2px #edf0f5;
}

.project-detail .left-title > span {
    font-size: 20px;
    color: #404b59;
}

.project-detail .right-title > span {
    font-size: 35px;
    color: #f27370;
}

.project-detail .content-title {
    position: relative;
    background: #ffffff;
    border-radius: 100px;
    width: 103px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    top: -15px;
}

.project-detail .content-title > span {
    font-size: 16px;
    color: #89919c;
}

.project-detail .card-content {
    font-family: PingFangHK-Regular;
    font-size: 16px;
}

.project-detail .content-item > span {
    color: #323a45;
}

.project-detail .content-item-num > span {
    color: #f27370;
}

.koin-card-link {
    color: #00a3d9;
}

.form-group > label {
    color: #89919c;
}

.member-img > img {
    border: 1px solid #b6c1cf;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}

.member-msg .member-name > span {
    color: #323a45;
}

.member-flag {
    background: #ffffff;
    width: 80px;
    height: 25px;
    position: absolute;
    bottom: 0px;
}

.member-flag > span {
    font-size: 13px;
}

.member-flag-creator {
    border: 1px solid #ff7827;
}

.memeber-flag-creator > span {
    color: #ff7827;
}

.member-flag-manager > span {
    color: #86cad7;
}

.member-flag-manager {
    border: 1px solid #86cad7;
}

.kcoin-figure-default-img {
    width: 164px !important;
    height: 164px !important;
    margin-left: auto;
    margin-right: auto;
}

#project-detail-menu .project-name {
    height: 50%;
}

dl {
}

.stepper::before {
    content: "";
    display: block;
    width: 97%;
    position: absolute;
    background-color: white;
    top: calc(50% - 2px);
    left: 2px;
    z-index: 0;
    border: 2px dashed #FFD7D8;
    height: 0px;
}

.step.kcoin-step.complete.kcoin-stepper-complete::before {
    content: "";
    display: block;
    width: 110px;
    position: absolute;
    background-color: white;
    top: calc(50% - 2px);
    left: 2px;
    z-index: 0;
    border: 2px solid #FF5C5D;
    height: 0px;
}

span.step.kcoin-step {
    width: 24px;
    height: 24px;
    background-color: white;
}

span.step.kcoin-step.complete.kcoin-stepper-complete {
    background-color: #FF5C5D;
    border: none;
}

.kcoin-win-title .title {
    color: #f3f3f3;
}

.import_title > span {
    color: #404b59;
}

.pagination .page-item.active {
    background: #00a3d9;
}

.pagination .page-item.active > a {
    color: #ffffff;
}

.member-flag-creator > span {
    color: #ff5c5d;
}

.login-context .form-group > label {
    font-size: 13px;
    color: #ffffff !important;
}

.login-context .form-group .link > a {
    color: #60a8f0;
}

.project-detail-container {
    padding-top: 180px;
    z-index: 0;
}

span {
}

.coscon-container {
    background: #ffffff;
    border: 1px solid #cfd2d6;
    box-shadow: 0 4px 10px 0 #e2e9f5;
    border-radius: 10px;
    width: 748px;
    height: 548px;
    padding: 0;
}

.coscon-rectangle {
    background: #ffffff;
    border: 1px solid #cfd2d6;
    box-shadow: 0 4px 10px 0 #e2e9f5;
    border-radius: 10px;
    width: 748px;
    height: 548px;
}

.coscon-title-rectangle {
    background: #333333;
    border: 1px solid #cfd2d6;
    height: 48px;
    text-align: center;
}

.coscon-win-title {
    font-family: PingFangHK-Regular;
    font-size: 16px;
    color: #f3f3f3;
    text-align: left;
}

.coscon-mt-tille {
    font-size: 18px;
    color: #404b59;
    text-align: left;
}

.coscon-mt-detail {
    font-size: 13px;
    color: #404b59;
    text-align: left;
}

.coscon-mt-a {
    font-size: 13px;
    color: #60a8f0;
    text-align: left;
}

.coscon-award-win {
    background: #fcfdff;
    border: 1px solid #e2e9f5;
    width: 748px;
    height: 246px;
}

.coscon-award-label {
    font-size: 16px;
    color: #404b59;
    text-align: left;
}

.coscon-award-rectangle {
    background: #ffffff;
    border: 2px solid #5ca7f3;
    border-radius: 5px;
    width: 196px;
    height: 50px;
}

.coscon-award-detail {
    font-size: 16px;
    color: #ff5a59;
    text-align: left;
}

.coscon-award-tip {
    font-size: 13px;
    color: #8b939e;
    text-align: left;
}

.coscon-award-submit-a {
    font-size: 18px;
    color: #60a8f0;
    text-align: left;
}

div.chart {
    height: 400px;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin-top: 40px;
}

.file .button {
    background: #ffffff;
    border: 2px solid #60a8f0;
    border-radius: 5px;
    width: 110px;
    height: 36px;
    margin-right: 10px !important;
    font-size: 13px;
    color: #60a8f0;
}

.file.rtl .caption, .file[dir=rtl] .caption {
    text-align: left;
    position: absolute;
    width: 200px;
    left: 110px;
}

.file.rtl {
    border: none;
    width: 110px;
}

.kcoin-win-title .btn-close {
    padding-bottom: 0px !important;
}

.user-profile {
    max-width: 340px;
    min-height: 760px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.user-profile .field-title {
    font-size: 20px;
    color: #323a45;
}

.user-profile-float {
    max-width: 340px;
    max-height: 760px;
    /* height: 100%; */
    width: 100%;
    background: #fdfeff;
    border: 1px solid #e2e9f5;
    box-shadow: 0 0 6px 1px #edf0f5;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-project-panel {
    /* width: 200px; */
    /* height: 1600px; */
}

.brief {
    margin-top: 5px;
    border: none;
}

.wallet-address {
    background: #edf0f5;
    /* width: 300px; */
    height: 40px;
    padding-top: 9px;
    padding-left: 10px;
    font-family: PingFangHK-Regular;
    font-size: 16px;
    color: #323a45;
    margin-top: 5px;
}

.user-name {
    font-size: 20px;
    color: #404b59;
}

.user-profile-float > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.btn-user-edit {
    width: 100px !important;
    height: 40px;
    margin-top: 50px;
    margin-left: calc(50% - 50px);
    margin-bottom: 50px !important;
}

.brief > textarea {
    padding-left: 0px;
    padding-right: 0px;
    font-family: PingFangHK-Regular, serif;
    font-size: 16px;
    color: #404b59;
    height: 140px;
}

.user-kcoin-detail {
    min-width: 360px;
    min-height: 100px;
}

.user-kcoin-detail > img {
    width: inherit;
    height: inherit;
}

.user-kcoin {
    font-family: PingFangHK-Regular, Serif;
    font-size: 46px;
    color: #ff5a59;
}

.user-kcoin-detail-left-area {
    min-width: 194px;
    height: 100%;
    min-height: 100px;
    background: url('/icons/kcoin-project-list-half-icon.png') no-repeat;
}

.user-kcoin-detail-right-area {
    padding-left: 40px;
    max-width: calc(100% - 176px);
    width: 100%;
}

.user-kcoin-detail-split {
    border: 1px solid #cfd2d6;
    width: 1px;
    height: 59px;
    position: absolute;
    right: 0px;
    top: calc(50% - 30px);
}

.user-kcoin-detail-link {
    font-size: 16px;
    color: #60a8f0 !important;
}

.user-project-detail-image {
    width: 120px;
    height: 120px;
}

.user-project-list-title {
    font-size: 20px;
    color: #5e6d81;
}

.user-project-list-title-num {
    font-size: 20px;
    color: #f27370;
}

.user-project-list-split {
    border: 1px solid #cfd2d6;
    width: 489px;
    height: 1px;
}

.history-table {
    width: 100%;
}

.history-head {
    display: none;
}

.table.striped .tbody .tr:nth-child(odd), .table.striped tbody tr:nth-child(odd) {
    background: #edf0f5;
}

label.select.input.dropdown-toggle {
    background: #ffffff;
    border: 1px solid #979797 !important;
    border-radius: 5px;
    height: 40px !important;
}

.drop-container {
    border: 1px solid #979797 !important;
    border-radius: 5px;
}

.window-content {
    overflow: hidden;
}

.app-bar .app-bar-menu > li > a {
    font-size: 16px;
}

.overflow-unset {
    overflow: unset !important;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}
