# IDE
.idea/
src/**/*.iml

# Mac OS
**/.DS_Store

# Java
src/server/target/
src/server/out/
src/server/classes/

# temp files
**/*.tmp

# Logs
src/**/*.log

# KCoin
*.sqlite
src/web/lib/config.rb
src/server/src/main/resources/fabric/
src/server/out/
