.grid
    .row
        .cell-3{:align=>"center"}
            %img{:src=>"https://avatars0.githubusercontent.com/u/93194?s=460&v=4",:width=>200}
            %br
            %h4
                zhuangbiaowei
        .cell-9
            .button{:style=>"float:right;margin-bottom: 20px;"}
                import project
            %table.table.row-hover.cell-border.table-border
                %thead
                    %tr
                        %th Project
                        %th Account
                        %th
                %tbody
                    %tr
                        %td
                            %a{:href=>"/project"} project_name
                        %td
                            My Cash: 1000 My Token: 1200
                        %td
                            .button detail
                    %tr
                        %td
                            %a{:href=>"/project"} project_name
                        %td
                            My Cash: 1000 My Token: 1200
                        %td
                            .button detail
