%ul.tabs-expand-md{"data-role"=>"tabs"}
    %li
        %a{:href=>"#Teams"} Team2 List
    %li
        %a{:href=>"#Projects"} Project2 List
    %li
        %a{:href=>"#Issues"} Issue2 List
#Teams
    Team2 List
#Projects
    Project2 List
#Issues
    Issue2 List