<!DOCTYPE html>
%html{:lang=>"en"}
    %head
        %title
            KCoin Project
        %meta{:charset=>"utf-8"}
        %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
        %link{:rel=>"stylesheet",:href=>"https://cdn.metroui.org.ua/v4/css/metro-all.min.css"}
        %script{:src=>"https://code.jquery.com/jquery-3.3.1.min.js"}
        %script{:src=>"https://cdn.metroui.org.ua/v4/js/metro.min.js"}
    %body
        .container-fluid{:style=>"padding:0px;"}
            %img{:src=>"big.jpg",:width=>"100%"}
            .slog{:style=>"font-size: 48px;position: absolute;margin-top: -500px;text-align: center;width: 100%;color: #f0f0f0;"}
                The Blockchain-based economic system
                %br
                Incentives for open source contributions
            .grid
                -#.row{:style=>"padding:20px 0px;background-color:#606060;"}
                -#    .cell-3.offset-2
                -#        %input{:type=>"text","data-role"=>"input","data-prepend"=>"<span class='mif-envelop'>","placeholder"=>"Enter your email...","data-validate"=>"required email"}
                -#    .cell-3
                -#        %input{:type=>"password","data-role"=>"input","data-prepend"=>"<span class='mif-key'>","placeholder"=>"Enter your password...","data-validate"=>"required  minlength=6"}
                -#    .cell-2
                -#        %button.button
                -#            Login
                -#        %button.button
                -#            Register
                .row{:align=>"center"}
                    .cell-12
                        %a.image-button{:href => '/auth/github/login'}
                            %span.mif-github.icon
                            %span.caption
                                Login with Github
                .row{:align=>'center',:style=>'padding:20px 0px;'}
                    .cell-12
                        &nbsp;
                        %a{:href=>'/'}
                            Home
                        &nbsp;
                        %a{:href=>'/user'}
                            Dashboard
                        &nbsp;
                        %a{:href=>'/doc'}
                            Document      
                        &nbsp;
                        %a{:href=>'/download'}
                            Download
                        &nbsp;
                        %a{:href=>'/explorer'}
                            Explorer
                        &nbsp;
                        %a{:href=>'/club'}
                            Club
                        &nbsp;
                        %a{:href=>'/blog'}
                            Blog
                        &nbsp;
                        %a{:href=>'/code'}
                            Code
                        &nbsp;    
                        %a{:href=>'/about'}
                            About