.grid
    .row
        .cell-3{:align=>"center"}
            %img{:src=>"#{current_user.avatar_url}",:width=>200}
            %br
            %h4
                =current_user.name
        .cell-9
            .button{:style=>"float:right;margin-bottom: 20px;"}
                import project
            %table.table.row-hover.cell-border.table-border
                %thead
                    %tr
                        %th Project
                        %th Account
                        %th
                %tbody
                    %tr
                        %td
                            %a{:href=>"/project"} project_name
                        %td
                            My Cash: 1000 My Token: 1200
                        %td
                            .button detail
                    %tr
                        %td
                            %a{:href=>"/project"} project_name
                        %td
                            My Cash: 1000 My Token: 1200
                        %td
                            .button detail
