.container-fluid.pt-13.bg-white.h-vh-100.px-0
  .container.bg-white.px-2#container
    .grid
      .row{:style=>'margin-top: 20px; text-align: center; width: 100%;'}
        .cell-12
          %h2.py-20-md 兑换商城即将开放，敬请期待！
