%ul.tabs-expand-md{"data-role"=>"tabs"}
    %li
        %a{:href=>"#Teams"} Team List
    %li
        %a{:href=>"#Projects"} Project List
    %li
        %a{:href=>"#Issues"} Issue List
#Teams
    Team List
#Projects
    Project List
#Issues
    Issue List