.container-fluid.pt-13.bg-white.h-vh-100.px-0
  .container.bg-white.px-0.pt-5#container
    .row.mx-2
      .cell-12.px-0.user-kcoin-detail-link
        %a{:href=>"/project/history"} < 返回
    .row.mx-2
      %table.table.striped.mt-4{"data-role"=>"table",
        "data-cls-table-top"=>"row flex-nowrap",
        "data-cls-component"=>"history-table",
        "data-cls-head"=>"history-head",
        "data-cls-rows-count"=>"cell-md-4",
        "data-rows-steps"=>"10",
        "data-show-rows-steps"=>"false",
        "data-show-search"=>"false",
        "data-show-table-info"=>"false",
        "data-cls-pagination"=>"flex-justify-center",
        "data-pagination-prev-title"=>"◂",
        "data-pagination-next-title"=>"▸",
        "data-rows"=>"5"}
        %thead
          %tr
            %th time
            %th content
            %th num
        %tbody
          %tr
            %td 08.09
            %td 提交一次Pull Request
            %td +10
          %tr
            %td 08.09
            %td 提交一次Pull Request
            %td +10


