.pt-5
  .row
    .cell-sm-6.cell-fs-12.text-left.d-flex.flex-align-center
      %span.pl-2 我的项目列表
    .cell-sm-6.cell-fs-12.text-right.mt-3-fs.mt-0-sm.text-center-fs.text-right-sm
      %button#btn_import.button.info.my-0.kcoin-button-normal 导入项目
#listContainer
%template#listTemplate
  %ul#lists{"data-role"=>"list",
  "data-cls-list"=>"unstyled-list row d-flex flex-justify-center mt-4 mx-0",
  "data-cls-list-item"=>"cell-sm-6 cell-md-3",
  "data-show-pagination"=>"true",
  "data-items"=>"8",
  "data-activity-type"=>"square",
  "data-cls-pagination"=>"flex-justify-center",
  "data-pagination-prev-title"=>"<",
  "data-pagination-next-title"=>">"}
    <% for(var i = 0; i < list.length; i++) { %>
    %li
      %figure.kcoin-figure
        .img-container.thumbnail.px-0.py-0
          <%if(list[i].img) {%>
          %img{:src=>"<%list[i].img%>"}
          <%} else {%>
          %img{:src=>"icons/kcoin-project-list-ico.png"}
          <%}%>
          %div.kcoin-figure-token-div.pos-absolute
            %div.kcoin-figure-token-span
              %p.text-ellipsis.mt-1.ml-1 Kcoin: 200
              %p.text-ellipsis.mt-0.ml-1 Token: 1200
          <%if(!list[i].img) {%>
          %div.kcoin-figure-title-letter-div.pos-absolute
            %div.kcoin-figure-title-letter-span
              %p.mx-0 <%list[i].first_word%>
          <%}%>
        %figcaption.painting-name
          %span <%list[i].name%>
    <% } %>

.pt-2#win_import{"data-role"=>"window",
"data-width"=>"100%",
"data-height"=>"100%",
"data-place"=>"top-center",
-#"data-top"=>"0px",
-#"data-left"=>"50%",
"data-draggable"=>"true",
"data-btn-min"=>"false",
"data-btn-max"=>"false",
"data-resizable"=>"false",
"data-title"=>"导入项目",
"data-close-action"=>"Metro.actions.HIDE",
"data-cls-caption"=>"kcoin_win_title",
"data-cls-master"=>"px-3",
-#"data-cls-content"=>"kcoin_win",
"data-cls-window"=>"no-visible kcoin-win",
"data-on-close-click"=>"closeWin"}

  #kcoin_stepper{"data-role"=>"stepper",
  "data-steps"=>"2",
  "data-cls-step"=>"kcoin-step",
  "data-cls-stepper"=>"kcoin-stepper",
  "data-cls-complete"=>"kcoin-stepper-complete",
  "data-cls-current"=>"kcoin-stepper-complete",
  "data-view"=>"cycle"}
  %form#import_form{:onsubmit=>"return false;",
  :enctype=>"multipart/form-data"}
    #kcoin_master{"data-role"=>"master",
    "data-effect"=>"fade",
    "data-cls-controls"=>"d-none",
    "data-cls-pages"=>"border-none",
    "data-cls-control-title"=>"d-none"}
      .page
        .row.mx-0
          .cell-12.form-group.px-0
            .kcoin-win-panel#projectList{"data-role"=>"panel",
            "data-width"=>"100%",
            "data-height"=>"100%",
            "data-cls-content"=>"px-5",
            "data-cls-panel"=>"border-none"}
            %template#projectListTemplate
              <% for(let item of map.values()){ %>
              %p.my-5
                %img.kcoin-img-org{:src=>"<%item[0].owner.avatar_url%>"}
                %label <%item[0].owner.login%>（<%item.length%> 个项目）
              %ul.mx-0.my-0
                <% for(var i = 0; i < item.length; i++) { %>
                %li.kcoin-li.d-flex.flex-align-center{:name=>"project_id",
                :onclick=>"showNextPage(<%list[i].id%>)",
                :value=>"<%list[i].id%>"} <%list[i].name%>
                <% } %>
              <% } %>
      .page
        .row.mx-0
          .cell-12.form-group.px-0
            .import_title
              %span#project_title.pos-absolute.pos-left-center.ml-5.mif-checkmark.mif-3x.fg-green
          .cell-12.form-group.px-5
            %label 1. 填写项目名称
            %input#project_name{:type=>"text",
            :name=>"name",
            maxlength: 120,
            "data-validate" => "required"}
            %span.invalid_feedback
              项目名称不能为空
            %input#project_id{:type=>"hidden",
            :dir=>"rtl",
            :name=>"project_id"}
          .cell-12.form-group.px-5
            %label 2. 上传项目封面（选填，但只能添加不大于 2M 的图片）
            %input#img{:type=>"file","data-role"=>"file",:name=>"images","data-caption"=>"选择文件","data-validate"=>"custom=validateFileSize"}
        .row.mx-0
          .cell-12.text-center.px-0.pos-fixed.pos-bottom-center.mb-5
            %button#btn_prev.button.info.outline.mr-0-fs.mr-5-sm.kcoin-button-normal 上一步
            %button#btn_submit.button.info.ml-0-fs.ml-5-sm.kcoin-button-normal 导入

= include_javascript 'project_list_none'

= include_javascript 'project_list'


